@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,900;1,500&display=swap');


/*COLORS*/
$blue-600: #0d5dbc;
$blue-500: #047ae9;
$blue-400: #7fb4f4;
$blue-300: #b7d7fd;
$blue-200: #dcecfb;
$-blue-bg: #f2f5fa;
$dark-900: #181b21;
$dark-800: #444c53;
$dark-500: #737d86;
$dark-000: #fff;
$dark-400: #949da4;
// Базовые стили
body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

.header {
  background: $-blue-bg!important;
  .logo-gruzovoz-header {
    max-width: 143px;
  }
  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 137%;
    padding: 0 28px!important;
    color: $dark-900;
    &:hover {
      color: #007bff;
    }
  }
  .btn-primary {
    font-family: 'Raleway', sans-serif;
    font-weight: 600!important;
    font-size: 16px;
    border-radius: 8px!important;
    line-height: 137%;
    padding: 16px;

  }
  .navbar {
    --bs-navbar-padding-y: 12px;
    background: $-blue-bg!important;
  }
  // Стили бренда (логотипа)
  .navbar-brand {
    font-weight: 700;
    font-size: 1.5rem;
    margin-right: 70px;
  }
  .navbar-brand small {
    font-weight: 500;
    color: #6c757d; /* muted */
    line-height: 1;
  }



  // Offcanvas меню
  .offcanvas {
    width: 280px;
    background: #fff;
    padding: 1rem;

    .offcanvas-header {
      border-bottom: 1px solid #e9ecef;
    }

    .nav-link {
      font-weight: 500;
      font-size: 16px;
      line-height: 137%;
      padding: 0 28px!important;
      color: $dark-900;
      &:hover {
        color: #007bff;
      }
    }

    .btn-primary {
      font-weight: 600!important;
      font-size: 16px;
      border-radius: 8px!important;
    }
  }
}


// Секция героя с фоновой картинкой
.hero-section {
  background: #f2f5fa;
  .container {
    max-width: 1280px;
    width: 100%;
  }
  &__inner {
    background: url('img/main-bg.png') center center / cover no-repeat;
    border-radius: 16px;
    padding: 48px;
    overflow: hidden;
  }

}

// Блок с содержимым на фоне (белый фон, скругление, тень)
.hero-content {
  border-radius: 16px;
  background-color: #fff;
  padding: 32px;

  .btn-primary {
    font-weight: 600!important;
    font-size: 16px;
    border-radius: 8px!important;
    padding: 16px;
    span {
      margin-right: 10px;
    }
  }
}

// Стили заголовков и текста в hero-секции
.hero-section h1 {
  font-weight: 900;
  font-size: 52px;
  line-height: 119%;
  color: $dark-900;

}
.hero-section h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 117%;
  color: $dark-900;
  margin-top: 16px;
  margin-bottom: 24px;
}
.hero-section .hero-description {
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 137%;
  color: $dark-500;
  margin-bottom: 32px;
}

//Секция Consultation
.consultation {
  /* Светлый фон для всей секции */
  background: 	$-blue-bg;
  padding: 64px 0;
  /* Контейнер ограниченной ширины (макс. 1280px на широком экране) */
  &__container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }
  /* Карточки преимуществ (левая колонка) */
  &__benefit {
    background: $dark-000;
    border-radius: 16px;
    padding: 24px;
    height: 100%;
    min-height: 200px;

    &-icon {
      border-radius: 8px;
      padding: 10px 12px;
      width: 56px;
      height: 56px;
      display: block;
      background: $blue-400;/* синий фон для иконки-заглушки */

    }
    &-text {
      font-weight: 600;
      font-size: 18px;
      line-height: 133%;
      color: $dark-900;
      margin-top: 24px;
    }
  }
  /* Блок формы (правая колонка) */
  &__form-block {

  }
  &__form-inner {
    background: $blue-200;
    border-radius: 16px;
    padding: 32px;
    height: 100%;
  }
  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 129%;
    color: $dark-900;
    margin-bottom: 12px;
  }
  &__description {
    font-weight: 500;
    font-size: 16px;
    line-height: 137%;
    color: $dark-900;
    margin-bottom: 24px;
  }
  .form-floating {
    margin-bottom: 12px;}
  &__input {
    border: 1px solid $blue-200;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 137%;
    color: $dark-500;

    .form-control {
      background-color: #ffffff;
      border: none;
      border-radius: 8px;
      padding: 1.2rem 1rem 0.45rem;
      font-size: 16px;
      height: auto;
      color: #1e1e1e;

      &::placeholder {
        color: transparent; // скрываем placeholder
      }

      &:focus {
        box-shadow: none;
        border: none;
      }
    }

    label {
      color: #adb5bd;
      font-size: 14px;
      padding: 0.45rem 1rem;
      transition: all 0.2s ease;
    }

    .form-control:focus ~ label,
    .form-control:not(:placeholder-shown) ~ label {
      font-size: 13px;
      transform: translateY(-0.35rem) scale(0.85);
      color: #adb5bd;
    }
  }
  &__checkbox {
    /* Галочка чекбокса в фирменном синем цвете при выделении */
    accent-color: #0d6efd;
  }
  &__checkbox-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    color: $dark-900;
  }
  &__policy-link {
    color: $blue-600;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  /* Кнопка отправки заявки */
  &__submit-btn {
    background: $dark-900;
    border: 1px solid $dark-900;
    border-radius: 8px;
    padding: 16px;

    transition: all 0.3s ease;

    font-weight: 600;
    font-size: 16px;
    line-height: 137%;
    color: $dark-000;

    &:hover {
      background :$dark-000;
      color:  $dark-900;
      border: 1px solid  $dark-900;
      svg path {
        stroke: $dark-900; // Цвет обводки становится белым
      }
    }
  }

}

//секция how we work
.steps {
  padding: 64px 0;
  &__item-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
  }
  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

  }

  &__arrow {
    position: absolute;
    right: -25px; // регулируй отступ между блоками
    top: 50%;
    transform: translateY(-50%) rotate(0deg); // вправо
    z-index: 1;
    &--down {
      top: auto;
      bottom: -12px; // отступ вниз от блока
      right: 50%;
      left: 50%;
      transform: translateX(-50%) rotate(90deg); // поворот вниз
    }
      &--left {
        position: absolute;
        transform: translateY(-50%) rotate(179deg);
        right: -24px;
      }
  }


  &__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
  }

  &__col {
    flex: 0 0 calc(20% - 12px); // 5 в ряд
    max-width: calc(20% - 12px);
    display: flex;
    justify-content: center;
  }

  &__item {
    background:$-blue-bg;
    border-radius: 16px;
    padding: 32px 24px;
    text-align: start;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 232px;
    min-width: 228px;
    @media (max-width: 1400px) {
      min-width: 204px;
    }
    @media (max-width: 1200px) {
      min-width: auto;
    }

  }

  &__number {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $dark-000;
    background: #fff;
    border-radius: 8px;
    width: 56px;
    height: 56px;
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    color: $dark-900;
    margin-bottom: auto;



  }

  &__icon {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  &__text {
    font-size: 14px;
    color: #1e1e1e;
    font-weight: 500;
    @media (max-width: 767.98px) {

  }
  }

  &__arrow-down {
    margin: 20px 0;
    svg {
      transform: rotate(90deg);
    }
  }

  @media (max-width: 992.98px) {
    &__col {
      flex: 0 0 calc(50.0% - 0.6rem);
      max-width: calc(50.0% - 0.6rem);
    }
  }

  @media (max-width: 767.98px) {
    &__col {
      flex: 0 0 100%;
      max-width: 100%;
    }

    &__item {
      flex-direction: row;
      justify-content: flex-start;
      gap: 12px;
      text-align: left;
    }

    &__number {
      font-size: 16px;
    }

    &__text {
      font-size: 14px;
    }
  }
}


// Секция relocation

.relocation {
  background-color:$-blue-bg;
  padding: 60px 0;

  &__container {
    max-width: 1280px;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    color: $dark-900;
    margin-bottom: 24px;
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: $dark-900;
    margin-bottom: 32px;
  }

  &__button {
    background: $dark-000;
    border: 1px solid $blue-500;
    border-radius: 8px;
    padding: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 137%;
    color: $blue-600;
  }

  &__image {
    text-align: center;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__steps {
    margin-top: 40px;
  }

  &__step {
    background: $dark-000;
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 16px;
    align-items: flex-start;

  }
  &__step-blue {
    background: $blue-500!important;

    .relocation__step-text {
      font-weight: 600!important;
      font-size: 20px!important;
      line-height: 140%!important;
      color: $dark-000!important;
    }
  }

  &__step-number {
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    color: $blue-600;
    margin-right: 16px;
    flex-shrink: 0;
  }

  &__step-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: $dark-900;
    p {
      margin: 0;
    }
  }
}

// Адаптивность
@media (max-width: 992px) {
  .relocation {
    &__title {
      font-size: 1.75rem;
    }
    &__text {
      font-size: 0.95rem;
    }
  }
}

@media (max-width: 768px) {
  .relocation {
    text-align: center;
    &__image {
      margin-top: 20px;
    }
    &__step {
      flex-direction: column;
      text-align: left;
    }
    &__step-number {
      margin-bottom: 10px;
    }
  }
}



// Секция cta
.cta {
  background: $blue-600;
  padding: 64px 0;

  &__container {
    max-width: 1280px;
  }

  &__text {
    p {
      font-weight: 600;
      font-size: 24px;
      line-height: 117%;
      color: $dark-000;
    }
  }

  &__button {
    background: $dark-000;
    border: 1px solid $blue-500;
    border-radius: 8px;
    padding: 16px;

    transition: all 0.3s ease;

    font-weight: 600;
    font-size: 16px;
    line-height: 137%;
    color: $blue-600;

    &:hover {
      background-color: transparent;
      color:  $dark-000;
      border: 1px solid  $dark-000;
      svg path {
        stroke: #fff; // Цвет обводки становится белым
      }
    }
  }
}




// Адаптивность
@media (max-width: 768px) {
  .cta {
    text-align: center;
    &__text {
      margin-bottom: 15px;
      p {
        font-size: 0.95rem;
      }
    }
    &__button {
      width: 100%;
      justify-content: center;
    }
  }
}

//секция services



.services {
  background: $-blue-bg;
  padding: 64px 0;
  &__container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
  }

  &__heading {
    font-weight: 700;
    font-size: 28px;
    line-height: 129%;
    color: $dark-900;
    margin-bottom: 12px;
  }
  &__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: $dark-900;
    margin-bottom: 24px;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    .services__card {
      flex: 0 0 auto; // фиксируем ширину по процентам
    }

    // Первая строка
    .services__card:nth-child(1) {
      width: 32%;
    }
    .services__card:nth-child(2) {
      width: 37%;
    }
    .services__card:nth-child(3) {
      width: 24%;
    }

    // Вторая строка — другие пропорции
    .services__card:nth-child(4) {
      width: calc(24% - 8px); // 50% минус половина gap
    }
    .services__card:nth-child(5) {
      width: calc(33% - 8px);
    }
    .services__card:nth-child(6) {
      width: 37%; // пример — если вторая строка не полная
    }

    .services__card:nth-child(7) {
      width: calc(30% - 8px); // 50% минус половина gap
    }
    .services__card:nth-child(8) {
      width: calc(37% - 8px);
    }
    .services__card:nth-child(9) {
      width: 27%; // пример — если вторая строка не полная
    }
  }

  &__card {
    background: $blue-200;
    border-radius: 16px;
    padding: 32px 24px;
    text-align: left;

    &-icon {
      border-radius: 8px;
      padding: 10px 12px;
      width: 56px;
      height: 56px;
      background: $dark-000;
      margin-bottom: 24px;
    }

    &-subtitle {
      font-weight: 600;
      font-size: 18px;
      line-height: 133%;
      color: $dark-900;
    }
  }
}

// секция advantages
.advantages {
  background: $-blue-bg;
  padding: 0px 0 64px;

  &__container {
    max-width: 1280px;
  }

  &__row {
    margin-bottom: 40px;
  }
  &__left {
    padding-right: 0;
  }
  &__right {
    padding-left: 24px;
  }

  &__card {
    background:$blue-600;
    border-radius: 16px;
    padding: 32px 24px;
    color: #fff;

  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 129%;
    color: $dark-000;
    margin-bottom: 24px;
  }

  &__description {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color:$dark-000;
    margin-bottom: 24px;
  }

    &__button {
      background: $dark-000;
      border: 1px solid $blue-500;
      border-radius: 8px;
      padding: 16px;

      transition: all 0.3s ease;

      font-weight: 600;
      font-size: 16px;
      line-height: 137%;
      color: $blue-600;

      &:hover {
        background-color: transparent;
        color:  $dark-000;
        border: 1px solid  $dark-000;
        svg path {
          stroke: #fff; // Цвет обводки становится белым
        }
      }
    }

  &__image img {
    border-radius: 16px;
    width: 100%;
    margin-top: 16px;
  }

  &__list {

    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__features {
    padding-right: 24px;
  }
  &__item,
  &__feature {
    padding: 24px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;

    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    color:$dark-800;
    strong {
      font-weight: 500;
      font-size: 18px;
      line-height: 133%;
      color: $dark-900;
    }
    p {
      margin-bottom: 0;}
  }

  &__dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #0d6efd;
    border-radius: 50%;
    margin-right: 10px;
    flex-shrink: 0;
    margin-top: 6px;
  }

  &__feature {
    margin-bottom: 10px;

    &--full {
      align-items: flex-start;
    }
  }
  &__notes {
    padding-left: 0;
  }
  &__note {
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    color: $dark-000;
    border-radius: 16px;
    background: $blue-600;

    padding: 32px 24px;
    p {
      margin-bottom: 10px;
    }
  }
}

// Адаптивность
@media (max-width: 992px) {
  .advantages {
    &__title {
      font-size: 1.5rem;
    }
    &__row {
      margin-bottom: 20px;
    }
    &__note {
      margin-top: 20px;
    }
  }
}

//Секуия move-info

.move-info {
  background: $blue-200;
  padding: 64px 0;

  &__container {
    max-width: 1280px;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 129%;
    color: $dark-900;
    margin-bottom: 16px;
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: $dark-900;
    margin-bottom: 66px;
  }

  &__button {
    background: $dark-900;
    border: 1px solid $dark-900;
    border-radius: 8px;
    padding: 16px;

    transition: all 0.3s ease;

    font-weight: 600;
    font-size: 16px;
    line-height: 137%;
    color: $dark-000;

    &:hover {
      background :$dark-000;
      color:  $dark-900;
      border: 1px solid  $dark-900;
      svg path {
        stroke: $dark-900; // Цвет обводки становится белым
      }
    }
  }

  &__steps {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__step {
    border-radius: 16px;
    background: $dark-000;
    padding: 24px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
  }

  &__number {
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    color: $blue-600;
  }

  &__description {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: $dark-900;
  }

  @media (max-width: 991.98px) {
    &__button {
      width: 100%;
      justify-content: center;
    }

    &__title {
      font-size: 1.5rem;
    }

    &__text {
      font-size: 0.95rem;
    }

    &__steps {
      margin-top: 30px;
    }
  }
}


//Секция Order
.order {
  background: $-blue-bg;
  padding: 64px 0;

  &__container {
    max-width: 1280px;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 129%;
    color:$dark-900;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: $dark-900;
  }

  &__steps {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__step {
    background: $dark-000;
    border-radius: 16px;
    padding: 24px;
    display: flex;
    align-items: flex-start;

  }

  &__number {
    background: $blue-400;
    width: 56px;
    height: 56px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
    flex-shrink: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    color: $dark-000;
  }

  &__description {
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: $dark-900;
  }

  // Адаптивность
  @media (max-width: 768px) {
    &__title {
      font-size: 1.5rem;
    }

    &__subtitle {
      font-size: 0.95rem;
    }

    &__description {
      font-size: 0.95rem;
    }
  }
}
//Секция Cost
.cost {
  background: $-blue-bg;
  padding: 0px 0 64px;

  &__textcard {
    padding-right: 24px;
    height: 100%;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 129%;
    color: $dark-900;
    margin-bottom: 16px;

  }

  &__lead {
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: $dark-900;
    margin-bottom: 16px;
  }

  /* список с синими точками */
  &__list {
    margin: 0 0 4px 0;
    padding-left: 0;
    list-style: none;
    li {
      position: relative;
      padding-left: 26px;
      margin: 8px 0;
      font-weight: 500;
      font-size: 18px;
      line-height: 133%;
      color: $dark-900;
      &:before {
        content: "";
        position: absolute;
        left: 0; top: .7em;
        width: 10px; height: 10px;
        border-radius: 50%;
        background: $blue-500;
        transform: translateY(-50%);
      }
    }
  }

  &__btn {
    margin-top: 24px;
    background: $blue-500;
    border: 1px solid #0d5dbc;
    border-radius: 8px;
    padding: 16px;
    font-weight: 600;
    &:hover { background: #0b52a8; border-color:#0b52a8; }
  }

  /* SLIDER */
  &__slider {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;

    .swiper-wrapper {
      flex: 1;
    }
  }

  &__slide {
    position: relative;
    height: 100%; /* занимает всё пространство */
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* обрезает и заполняет */
  }

  &__pagination {
    position: absolute;
    left: 50%;
    bottom: 14px;
    transform: translateX(-50%);
    z-index: 2;
    .swiper-pagination-bullet {
      background: $-blue-bg;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background: $blue-500;
    }
  }

  &__slider-wrap {
    position: relative;
    height: 100%; /* подгоняет под высоту колонки */
  }

  &__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
  }
  /* стрелки поверх слайдера */
  &__nav {
    position: absolute;
    z-index: 3;
    transform: translateY(-50%);
    width: 48px; height: 48px;
    border-radius: 8px;
    background: $blue-500;
    padding: 12px;
    border: none;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: .2s ease;
    &:hover { background: #0b52a8; }
    &--prev { left: 24px; }
    &--next { right: 24px; }
  }
}

//Секция reviews

.reviews {
  background: $-blue-bg;
  padding: 0px 0 0px;

  &__title {
    margin: 0 0 12px;
    font-weight: 700;
    font-size: 28px;
    line-height: 129%;
    color: $dark-900;
  }

  &__lead {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: $dark-900;
    margin-bottom: 24px;
  }

  /* стрелки */
  &__nav {
    display: flex;
    gap: 12px;
    margin-bottom: 24px;
  }
  &__arrow {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background: $blue-500;
    border: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: .2s ease;
    &:hover { background: #0b52a8; }
  }
}

/* карточки */
.review-card {
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  padding: 32px 24px;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  &__date {
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    color:$dark-800;
    margin-bottom: 16px;
  }

  /* заглушка иконки "лайк" */
  &__icon {

  }

  &__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    color: $dark-900;
    margin-bottom: 16px;
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 137%;
    color: $dark-900;
    margin-bottom: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 7; /* ограничиваем 7 строками */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__more {
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    color:$dark-800;
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }

  /* Видео-версии */
  &--video {
    padding: 0;
    .review-card__meta { padding: 16px 24px; }
  }

  &__video {
    position: relative;
    background: #bfdbfe;
    aspect-ratio: 16 / 9;
  }

  &__video-thumb {
    width: 100%;
    height: 100%;
    background:$blue-300; /* заглушка */
  }

  &__play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    border-radius: 8px;
    padding: 8px 16px;
    width: 56px;
    height: 40px;
    background: $blue-500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    box-shadow: 0 8px 18px rgba(13,93,188,.25);
    cursor: pointer;
  }

  &__company {
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    color:$dark-800;
  }
}

/* правки свайпера (пробелы между карточками) */
.reviews__slider {
  .swiper-slide { height: auto; }
}


//Секция FAQ (desktop)
.faq {
  background: $-blue-bg;
  padding: 64px 0;

  &__container {
    max-width: 1280px;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 129%;
    color:$dark-900;
    margin-bottom: 24px;
  }

  &__panel {
    background:$dark-000;
    border-radius: 16px;
    padding: 24px;
  }

  /* Список */
  &__list {
    margin: 0;
  }
}

/* Элемент */
.faq-item {
  border: 0;
  border-bottom: 1px solid $blue-200;


  &:last-child {
    border-bottom: 0;
  }

  &__head {
    margin: 0;
  }

  &__btn {
    width: 100%;
    padding: 24px 0 24px;
    background: transparent;
    border: 0;
    outline: 0;
    text-align: left;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: $dark-900;

    /* убираем фокус Bootstrap */
    &:focus {
      box-shadow: none;
      outline: none;
    }

    /* стрелка */
    .faq-item__chevron {
      display: inline-flex;
      transition: transform .2s ease-in-out;
    }

    &.collapsed .faq-item__chevron {
      transform: rotate(180deg); /* вниз */
    }
  }

  &__body {
    padding: 0 0 24px;
    margin-top: -16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    color: $dark-800;
  }
}

//Секция ready

.ready {
  background:  $-blue-bg;
  padding: 0px;

  &__card {
    background: $blue-600;
    border-radius: 16px;
    padding: 32px;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 129%;
    color: $dark-000;
    margin: 0 0 12px;
  }

  &__lead {
    font-weight: 500;
    font-size: 16px;
    line-height: 137%;
    color: $dark-000;
    margin: 0 0 32px;
  }
  .form-floating {
    margin-bottom: 12px;
  }
  .form-floating>label {
    color: #737d86;}
  /* Поля */
  &__input,
  &__textarea {
    border: 1px solid $blue-200;
    background: $dark-000;
    border: none;
    border-radius: 8px;
    color: $dark-900;
    font-size: 16px;
    padding: 14px 16px;
    box-shadow: none;

    &::placeholder { color: #9aa6b2; }
    &:focus { box-shadow: none; border: none; }
  }

  &__textarea {
    min-height: 96px;
    resize: vertical;
  }

  /* Маленький лейбл над полем телефона */
  &__field { position: relative; }
  &__field-label {
    position: absolute;
    left: 12px;
    top: -10px;
    background: $blue-600;
    color: white;
    padding: 0 6px;
    font-size: 12px;
    border-radius: 4px;
  }
  /* Кастомный чекбокс с собственной галочкой */
  .ready__check {
    /* прячем стандартный вид */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 18px;
    height: 18px;
    background: $blue-200;
    border: 2px solid #e3efff;         /* бордер под синий фон карточки */

    border-radius: 4px;
    display: inline-grid;
    place-content: center;
    cursor: pointer;
    margin-right: 8px;
    vertical-align: text-bottom;
    transition: border-color .15s ease, background-color .15s ease, box-shadow .15s ease;

    /* доступность при фокусе с клавиатуры */
    &:focus-visible {
      outline: 2px solid #fff;
      outline-offset: 2px;
    }

    /* псевдоэлемент — сама галочка */
    &::after {
      content: "";
      width: 12px;
      height: 10px;
      transform: scale(0);              /* прячем по умолчанию */
      transition: transform .12s ease;
      /* Вариант 1: через mask, цвет управляется currentColor */
      background-color: currentColor;
      color: #047AE9;                   /* цвет галочки */
      -webkit-mask: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.7304 0.31701C12.1076 0.720412 12.0864 1.35322 11.683 1.73043L5.058 9.73043C4.67363 10.0898 4.07649 10.0899 3.69209 9.7305L0.317091 6.6405C-0.0863533 6.26334 -0.107659 5.63054 0.269504 5.22709C0.646666 4.82365 1.27947 4.80234 1.68292 5.1795L4.37493 7.63101L10.317 0.269579C10.7204 -0.107628 11.3532 -0.0863925 11.7304 0.31701Z'/%3E%3C/svg%3E") no-repeat center / contain;
      mask: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.7304 0.31701C12.1076 0.720412 12.0864 1.35322 11.683 1.73043L5.058 9.73043C4.67363 10.0898 4.07649 10.0899 3.69209 9.7305L0.317091 6.6405C-0.0863533 6.26334 -0.107659 5.63054 0.269504 5.22709C0.646666 4.82365 1.27947 4.80234 1.68292 5.1795L4.37493 7.63101L10.317 0.269579C10.7204 -0.107628 11.3532 -0.0863925 11.7304 0.31701Z'/%3E%3C/svg%3E") no-repeat center / contain;
    }

    /* отмеченное состояние */
    &:checked {
      border-color: #fff;
      background: #fff;
    }
    &:checked::after {
      transform: scale(1);
    }
  }
  /* чекбокс и политика */
  &__check { accent-color: white; }
  &__check-label {
    color: $blue-300;
    a { color: white; text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__policy { color: $dark-000}

  /* Кнопка */
  &__button {
    margin-top: 32px;
    background: $dark-000;
    border: 1px solid $blue-500;
    border-radius: 8px;
    padding: 16px;

    transition: all 0.3s ease;

    font-weight: 600;
    font-size: 16px;
    line-height: 137%;
    color: $blue-600;

    &:hover {
      background-color: transparent;
      color:  $dark-000;
      border: 1px solid  $dark-000;
      svg path {
        stroke: #fff; // Цвет обводки становится белым
      }
    }
  }
  /* Иллюстрация */
  &__illustration {
    margin-top: 85px;
    display: flex;
    justify-content: flex-end;

  }
}

//Секция contact-map


.contact-map {
  background: $-blue-bg;
  padding: 64px 0;

  &__container {
    max-width: 1280px;
  }

  &__info {
    height: 100%;
    padding: 32px 24px;
    margin-right: 12px;
    background-color: $dark-000;
    border-radius: 16px;

  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 129%;
    color: $dark-900;
    margin-bottom: 32px;
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: $dark-900;
  }

  &__address {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: $dark-900;
  }

  &__hours {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: $dark-900;
  }

  &__buttons {
    .contact-map__btn-1 {
      background: $blue-500;
      border: 1px solid $blue-500;
      border-radius: 8px;
      padding: 16px;
      transition: all 0.3s ease;
      font-weight: 600;
      font-size: 16px;
      line-height: 137%;
      color: $dark-000;
      text-decoration: none;

      &:hover {
        background :$dark-000;
        color: $blue-500;
        border: 1px solid $blue-600;
         svg path {
          stroke: $blue-500; // Цвет обводки становится белым
        }
      }
    }
    .contact-map__btn-2 {
      background:$dark-000;
      border: 1px solid $blue-500;
      border-radius: 8px;
      padding: 16px;
      transition: all 0.3s ease;
      font-weight: 600;
      font-size: 16px;
      line-height: 137%;
      color: $blue-600;
      text-decoration: none;

      &:hover {
        background: $blue-500;
        color: $dark-000;
        border: 1px solid  $blue-500;
        svg path {
          stroke: $dark-000; // Цвет обводки становится белым
        }
      }
    }
  }

  &__map {
    margin-left: 12px;
    border-radius: 16px;
   iframe {
      width: 100%;
      border-radius: 20px;
      object-fit: cover;
    }
  }

  // Адаптив
  @media (max-width: 991.98px) {
    &__title {
      font-size: 1.5rem;
    }

    &__info {
      text-align: center;
    }

    &__buttons {
      flex-direction: column;
      align-items: center;

      .contact-map__btn {

        width: 100%;
        justify-content: center;
      }
    }

    &__map {
      margin-top: 30px;
    }
  }
}

//Footer

.footer {
  background: $blue-600;
  color: $dark-000;
  padding: 48px 0 24px;

  &__container {
    max-width: 1280px;
  }

  &__logo-block {
    .footer__logo img {
      max-width: 164px;
    }
    .footer__tagline {
      text-transform: uppercase;
      font-size: 0.85rem;
      margin: 5px 0 0;
    }
  }

  &__nav-block {
    display: flex;
    align-items: center;
    justify-content: center;

    .footer__nav {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
      }
    }

    .footer__link {
      text-decoration: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 137%;
      color: $dark-000;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__contacts-block {
    text-align: right;
    .footer__phone {
      font-weight: 700;
      font-size: 20px;
      line-height: 140%;
      color: $dark-000;
    }
    .footer__email {
      font-weight: 700;
      font-size: 20px;
      line-height: 140%;
      color: $dark-000;
    }
  }

  &__details {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    color: $dark-000;
    p {
      margin-bottom: 5px;
    }
    strong {
      font-weight: 600;
    }
  }

  &__bottom {
    height: 100%;
    align-items: flex-end;
    .footer__policy {
      font-weight: 400;
      font-size: 14px;
      line-height: 129%;
      color: $dark-000;
      text-decoration:none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  /* Планшет */
  @media (max-width: 991.98px) {
    &__top {
      flex-direction: column;
      text-align: left;
      gap: 20px;
    }

    &__contacts-block {
      text-align: left;
    }

    &__nav-block {
      justify-content: flex-start;
      .footer__nav {
        flex-direction: column;
        gap: 8px;
      }
    }
  }

  /* Мобильная версия */
  @media (max-width: 575.98px) {
    text-align: left;
    &__logo-block,
    &__contacts-block,
    &__nav-block {
      text-align: left;
    }

    &__bottom {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
  }
}

// Адаптивные размеры текста (пример)
@media (max-width: 767.98px) {
  .hero-section h1 { font-size: 2rem; }
  .hero-section h2 { font-size: 1.5rem; }
}
@media (min-width: 992px) {
  .hero-section h1 { font-size: 3rem; }
  .hero-section h2 { font-size: 2rem; }
}

// Ограничение ширины контейнера на больших экранах (макс 1280px)
@media (min-width: 1400px) {
  .container {
    max-width: 1280px;
  }
}